- musiciness = (@files.select(&:audio?).size / @files.size.to_f)
- videousity = (@files.select(&:video?).size / @files.size.to_f)
- if musiciness > 0.5
  %p
    [
    %a{href: "?playlist=audio-xspf"} xspf
    %a{href: "?playlist=audio-m3u"} m3u
    ]
- if videousity > 0.5
  %p
    [
    %a{href: "?playlist=video-m3u"} m3u
    %a{href: "?playlist=video-pls"} pls
    ]

- if params[:view] == "thumbs"
  / thumbnail view

  %div
    %a{href: "?view=details"} detail view

  .thumbnails
    - @files.each do |file|
      - next if %w[.vtt .srt .sub .nfo].include? file.extname
      .thumb
        %a{href: file.name.urlencode}
          %img{src: "#{file.name.urlencode}?thumbnail=true"}
          %br
          = file.name


- else
  / detail view

  %a{href: "?view=thumbs"} thumbnail view

  %table{cellpadding: 3}
    / HEADERS
    %thead
      %tr
        %th
          %a{href: sort_params("type", @sort, @order)} &nbsp;
        %th
          %a{href: sort_params("name", @sort, @order)} Filename
        %th{align: "right"}
          %a{href: sort_params("size", @sort, @order)} Size
        %th
          %a{href: sort_params("date", @sort, @order)} Date


    / FILE LISTING
    %tbody
      - @files.each_with_index do |file,i|

        %tr{class: (i % 2 == 0 ? "grey" : "")}
          / ICON
          %td.icon
            %img{src: file.icon}

          / NAME
          %td{style: "min-width:100px"}
            %a{href: file.name.urlencode}= file.name

          / SIZE
          %td{nowrap: true, align: 'right'}
            = file.dir? ? "" : file.size.commatize

          / DATE
          %td{nowrap: true, align: 'right'}
            = file.mtime.formatted_like_ls

      / IPFS special dir
      - if @relative_path.to_path == "."
        %tr
          %td.icon
            i
          %td
            %a{href: "/ipfs/"} ipfs
          %td
          %td


