!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %title
      [#{settings.machine_name}]
      #{@root_dir_name} / #{@fullpath}

    %link{href: "/css/main.css", rel: "stylesheet", type: "text/css"}

  %body
    %h2
      [#{settings.machine_name}]
      %a{href: "/"} #{@root_dir_name}
      - @relative_path.descend do |fn|
        - next if fn.to_s == "."
        \/
        %a{href: "/#{fn}/"}= fn.basename

    %form#search
      %input{name: "search", placeholder: "Search", value: params[:search]}
      %input{type: "hidden", name: "throbber", value: "true"}
      / %input{type: "submit"}

    = yield

