%h2
  Results for:
  %mark= params[:search]

/ Normal results

- @grouped_results.each do |dir, files|

  %h4
    - backlink = relative_to_root(dir)
    %a{href: "/#{backlink}"}
      = highlight(dir.relative_name(@path), @query)

  %ul
    - files.each do |file|
      %a{href: "/#{file.relative_name(settings.root_dir)}"}
        = highlight(file.relative_name(dir), @query)
      %br


/ Offline results

- if @grouped_disc_results.any?
  - count = @grouped_disc_results.map(&:last).map(&:size).sum

  [
  %a{href: 'javascript: document.querySelector(".collapseable").classList.toggle("hidden")' } show #{count} offline results
  ]

  .collapseable.hidden

    - @grouped_disc_results.each do |disc, results|
      %h4= disc
      %table
        - results.each_with_index do |result, i|
          %tr{class: (i % 2 == 0 ? "grey" : "")}
            %td.icon
              %img{src: "/img/file.gif"}

            / NAME
            %td{style: "min-width:100px"}
              = highlight(result.name, @query)

            / SIZE
            %td{nowrap: true, align: 'right'}
              = result.size.commatize

            / DATE
            %td{nowrap: true, align: 'right'}
              = result.date.formatted_like_ls



